body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(225, 100%, 94%);
}

.card {
  font-family: "Open Sans", sans-serif;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 40px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card p {
  text-align: center;
}
.card .main {
  font-weight: bold;

  line-height: 1.2em;
}
.card .sec {
  font-size: 0.8em;
  color: hsl(220, 15%, 55%);
}
